@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.button-want-here {
  padding: 8px 34px;
}

.button-find-hotel {
  display: block;
  width: 376px;
  height: 52px;
  padding: 8px 50px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

.button-mailer {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.button-social {
  width: 47px;
  height: 40px;
  display: block;
  outline: 1px solid #82b3d3;
  color: #82b3d3;
  background-color: transparent;
}

.button-apply {
  min-width: 191px;
  padding: 8px 50px;
  margin-bottom: 32px;
  background-color: #82b3d3;
}

.button-opacity {
  min-width: 191px;
  padding: 8px 57px;
  background-color: transparent;
}

.button-favourites {
  display: block;
  min-width: 140px;
  padding: 8px 20px;
  margin: 0;
  background-color: #82b3d3;
}

.button-favourites-active {
  display: block;
  min-width: 140px;
  padding: 8px 20px;
  margin: 0;
  background-color: #7db54f;
}

.button-list-form-select {
  min-width: 48px;
  padding: 16px;
  margin-left: 70px;
  display: block;
  background-color: transparent;
  border: 2px solid #000000;
}

.button-list-form {
  min-width: 48px;
  padding: 16px;
  margin-left: 8px;
  display: block;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  gap: 8px;
}

.button-more {
  display: block;
  min-width: 140px;
  padding: 8px 26px;
  margin: 0;
}

/* MAIN-HEADER */

.main-header {
  padding: 0 70px;
  display: flex;
  background-color: #ffffff;
  color: #000000;
}

.main-header-logo {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation {
  margin: 0;
  padding: 0;
  width: 892px;
  margin-left: 30px;
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user {
  margin-left: auto;
  flex-shrink: 0;
  align-items: center;
}

.navigation-item-button {
  display: flex;
  align-items: center;
}

.favourite-count {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
}

/* MAIN */

.main-index {
  flex-grow: 1;
  background-color: #ffffff;
}

.block-title  {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.block-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-text-title {
  margin: 69px 0 25px;
}

.advantages-text-description {
  margin: 25px 0 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  padding: 112px 85px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark {
  width: 100%;
  background-color: #82b3d3;
  display: flex;
}

.advantages-title {
  width: 175px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  margin: 0;
  margin-top: auto;
  color: #333333;
}

.advantages-item-dark .advantages-title {
  width: 175px;
  color: #ffffff;
}

.advantages-item-dark .advantages-description {
  color: #ffffff;
}

.advantages-image {
  display: block;
}

.features-text-title {
  margin: 64px 0 20px;
}

.features-text-description {
  margin: 20px 0 64px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.features-item {
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.features-description {
  margin: 0;
  color: #333333;
}

.find-hotel {
  min-height: 214px;
  margin: 0;
  padding: 96px 304px;
}

.find-hotel-title {
  margin: 0 0 20px;
}

.find-hotel-description {
  margin: 20px 0 54px;
}

/* FOOTER */

.footer-mailer{
  padding: 96px 258px 104px;
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-footer {
  background-color: #ffffff;
}

.footer-mailer-title {
  margin: 0;
  margin-bottom: 20px;
}

.footer-mailer-description {
  margin: 0;
  margin-bottom: 54px;
}

.mailer-form {
  display: flex;
}

.field {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border: none;
  border-radius: 4px 0 0 4px;
}

.footer-contacts {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.footer-contacts-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 142px;
  min-height: 40px;
  margin: 5px auto 5px 0;
}

.footer-contacts-social-item {
  display: block;
  min-height: 40px;
  margin: 0;
  padding: 0;
}

.footer-contacts-phone {
  min-width: 720px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-contacts-phone-link {
  display: block;
  margin: 0;
  padding: 5px 194px;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-logo-link {
  min-width: 115px;
  min-height: 33px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.footer-contacts-logo-image {
  display: block;
  margin: 8px 0 8px 41px;
}

/* CATALOG */

.main-header-logo-link {
  margin: 0;
  width: 140px;
  height: 70px;
  display: block;
}

.main-inner {
  flex-grow: 1;
  background-color: #ffffff;
}

.filters {
  margin: 0;
  padding: 70px;
  padding-top: 35px;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  min-width: 495px;
  min-height: 78px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  width: 151px;
  min-height: 157px;
  text-align: left;
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.price-input {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hotel-result {
  padding: 50px 70px 60px;
  background-color: #ffffff;
}

.container-result {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  min-height: 49px;
}

.sorting-result {
  margin: 0;
  padding: 6px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.select-control {
  min-width: 292px;
  min-height: 49px;
  margin-left: auto;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: inherit;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.product-card {
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.card-title-link {
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.product-card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-row:last-child {
  margin-bottom: 0;
}

.product-price {
  text-align: right;
}

.hotel-rating {
  min-width: 140px;
  padding: 9px 20px;
  border-radius: 4px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-link {
  min-width: 60px;
  padding: 12px;
  display: block;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  background-color: transparent;
  color: #000000;
}

.footer-mailer-inner {
  min-height: 415px;
  padding: 96px 258px 104px;
  background-color: transparent;
}
