@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.button-find-hotel {
  display: block;
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.button-mailer {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.button-social {
  color: #82b3d3;
  background-color: transparent;
}

.button-apply {
  background-color: #82b3d3;
}

.button-opacity {
  background-color: transparent;
}

.button-favourites {
  background-color: #82b3d3;
}

.button-favourites-active {
  background-color: #7db54f;
}

.button-list-form-select {
  background-color: transparent;
  border: 2px solid #000000;
}

.button-list-form {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.main-header {
  padding: 0 70px;
  display: flex;
  background-color: #ffffff;
  color: #000000;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation {
  width: 892px;
  height: 64px;
  margin: 0 auto;
  display: flex;
}

.navigation-list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  width: 300px;
  margin-left: auto;
}

.favourite-count {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
}

.main-index {
  flex-grow: 1;
  background-color: #ffffff;
}

.block-title  {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.block-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-text-title {
  margin: 69px 0 25px;
}

.advantages-text-description {
  margin: 25px 0 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 112px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-dark {
  width: 100%;
  padding: 0;
  background-color: #82b3d3;
}

.advantages-title,
.features-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description,
.features-description {
  color: #333333;
}

.advantages-item-dark .advantages-title,
.advantages-item-dark .advantages-description {
  color: #ffffff;
}

.advantages-img {
  display: block;
}

.features-text-title {
  margin: 64px 0 20px;
}

.features-text-description {
  margin: 20px 0 64px;
}

.features-list {
  display: flex;
  text-align: center;
}

.features-item {
  width: 400px;
  min-height: 385px;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.find-hotel {
  min-height: 406px;
  margin: 0;
  padding: 96px 304px;
}

.find-hotel-title {
  margin: 96px 0 20px;
}

.find-hotel-description {
  margin: 20px 0 54px;
}

.footer-mailer{
  padding: 96px 258px 104px;
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-footer {
  background-color: #ffffff;
}

.field {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.footer-contacts {
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

.footer-contacts-social-item {
  display: inline;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-contacts-phone-link {
  text-decoration: none;
  color: #000000;
}

.main-inner {
  flex-grow: 1;
  background-color: #ffffff;
}

.filters {
  padding: 70px;
  padding-top: 35px;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  width: 151px;
  min-height: 157px;
  text-align: left;
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.price-input {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.hotel-result {
  padding: 50px 70px 60px;
  background-color: #ffffff;
}

.sorting-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
}

.product-list {
  margin: 40px 0 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.card-title-link {
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.product-price {
  text-align: right;
}

.hotel-rating {
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.footer-mailer-inner {
  min-height: 415px;
  padding: 96px 258px 104px;
  background-color: transparent;
}
